body{
    background: linear-gradient(89.5deg, rgb(4, 29, 55) -0.1%, rgb(2, 67, 135) 25.1%, rgb(28, 133, 243) 49.6%, rgb(115, 181, 250) 74.5%, rgb(214, 239, 253) 99.3%);
  overflow: hidden;
    
}
.MuiBox-root-4{
     height: 100%;
        align-items: center;
        color: #fff;
        font-family: monospace;
}
.makeStyles-root-1 {
    height: calc(100vh - 64px);
    width:calc(100vh - 64px); ;
    overflow: hidden;
    left: 25%;
    
    position: absolute;
}